%h1
  Impression de flotte armada

%ul
  %li
    Allez sur le site
    = link_to( 'https://armada.ryankingston.com/', 'https://armada.ryankingston.com/', target: '_blank' )
  %li
    Créez une flotte
  %li
    Copiez le lien dans la barre d'url
  %li
    Collez le en dessous et cliquez sur "Go". (ça peut prendre du temps : 30 secondes au max).
  %li
    Imprimez la page générée

= form_tag translates_path do
  .row
    .col-10
      = text_field_tag :url, nil, class: 'form-control'
    .col
      = button_tag :submit, class: 'btn btn-primary btn-block' do
        Go

