// Place all the styles related to the Translate controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.upgrade
  margin: 2px
  width: 195px

.ship
  float: left
  margin: 2px

.squadron
  margin: 5px

hr
  clear: left

h1
  text-align: center
  margin-bottom: 30px

h4
  text-align: center
  margin-top: 30px
  margin-bottom: 30px

.footer
  text-align: center

.footer-element
  margin-left: 40px